<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
    	   http://www.springframework.org/schema/context/spring-context-3.2.xsd
    	   http://www.springframework.org/schema/aop
    	   http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
    	   http://www.springframework.org/schema/tx
    	   http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
           http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
           ">
    
    <context:component-scan base-package="net.wanho.controller"/>

    <mvc:annotation-driven/>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>


    <mvc:resources mapping="/js/**" location="/WEB-INF/jsp/js/" />
    <mvc:resources mapping="/images/**" location="/WEB-INF/jsp/images/" />
    <mvc:resources mapping="/css/**" location="/WEB-INF/jsp/css/" />
    <mvc:resources mapping="/files/**" location="/files/" />
    <mvc:resources mapping="/ztreestatic/**" location="/WEB-INF/jsp/ztreestatic/" />

    <bean  id="multipartResolver" class=" org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"></property>
        <property name="maxUploadSize" value="120400"></property>
    </bean>

    <bean class="net.wanho.exceptionResolver.GlobalExceptionResolver"></bean>

    <!--拦截器-->
   <!-- <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/billController/*"/>
            <bean class="net.wanho.intercepter.Intercepter1"></bean>
        </mvc:interceptor>
    </mvc:interceptors>-->


    <mvc:default-servlet-handler/>


</beans>